<div class="container-fluid">
    <div class="row">
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center leftside" id="leftside">
            <nav class="navbar navbar-expand justify-content-start fixed-top">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="['/']" routerLinkActive="active" class="nav-link">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/auth/login']" routerLinkActive="active" class="nav-link login">Login</a>
                    </li>
                </ul>
            </nav>
            <div class="row mx-2">
                <div class="col-12">
                    <h2><strong>Register</strong></h2>
                    <p></p>
                </div>
                <div class="col-12">
                    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
                        <div class="form-group position-relative">
                            <input type="text" class="form-control" name="username" id="username" placeholder="Username" ngModel required #username="ngModel">
                            <fa-icon *ngIf="!username.valid && username.touched" [icon]="faExclamationCircle" class="position-absolute" style="right:7px; top:7px; color:red"></fa-icon>
                        </div>
                        <div class="form-group position-relative">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" ngModel email required #email="ngModel">
                            <fa-icon *ngIf="!email.valid && email.touched" [icon]="faExclamationCircle" class="position-absolute" style="right:7px; top:7px; color:red"></fa-icon>
                        </div>
                        <div class="form-group position-relative">
                            <input type="password" class="form-control position-relative" name="password" id="password" placeholder="Password" ngModel required #password="ngModel">
                            <fa-icon *ngIf="!password.valid && password.touched" [icon]="faExclamationCircle" class="position-absolute" style="right:7px; top:7px; color:red"></fa-icon>
                        </div>
                        <div class="form-group position-relative">
                            <input type="password" class="form-control position-relative" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password" ngModel required #confirmPassword="ngModel">
                            <fa-icon *ngIf="!confirmPassword.valid && confirmPassword.touched || (confirmPassword.value != password.value)" [icon]="faExclamationCircle" class="position-absolute" style="right:7px; top:7px; color:red"></fa-icon>
                        </div>
                        <div class="from-group">
                            <input type="submit" value="Submit" class="btn btn-block text-white" [disabled]="!registerForm.valid">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-8 rightside">
            <video loop muted preload="metadata" (canplay)="videoPlayer()" style="height: 100vh">
                <source src="../../../../assets/videos/video1.mp4" type="video/mp4" >
            </video>
        </div>
    </div>
</div>
