<div class="row align-items-center animated fadeIn" style="background-color: #0f4c75; height: 100vh">
    <div class="col-12 col-sm-6 offset-sm-3 col-md-4 offset-md-4 bg-white rounded" style="height: 50vh;">
        <h4 class="my-5">Forgot password ?</h4>
        <form class="mt-5">
            <div class="form-group">
                <input type="email" class="form-control" name="email" id="email" placeholder="Email">
            </div>
            <div class="form-group">
                <div class="from-group">
                    <input type="submit" value="Submit" class="btn btn-success"> &nbsp;
                    <a [routerLink]="['/auth/login']" routerLinkActive="active" class="btn btn-secondary">Go back</a>
                </div>
            </div>
        </form>
    </div>
</div>