<h3>Steps: </h3>
<section
  class="application-progress"
  style="margin-left: -10%;margin-right: -10%;">
  <div class="overlay">
    <div class="overlay-inner">
      <ul>
        <li
          class="click"
          *ngFor="let step of steps; let i = index;">
          <div>
            <div class="step" [ngClass]="{'done': i === stepNo-1, 'secondary-border': i === stepNo-1}">
              {{i+1}}
            </div>
            <label [ngClass]="{'done': i === stepNo-1}">{{step}}</label>
          </div>
        </li>
      </ul>
    </div>
  </div>
  <div class="marker-container">
    <div class="done-marker" style="margin-left: 10%; width: 0% ;"></div>
    <div class="todo-marker" style="margin-right: 10; width: 80%;"></div>
  </div>
</section>
