<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-lg-8 leftside">
            <video loop muted preload="metadata" (canplay)="videoPlayer()" style="height: 100vh;">
                <source src="../../../../assets/videos/video2.mp4" type="video/mp4" >
            </video>
        </div>
        <div class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center rightside" id="rightside">
            <nav class="navbar navbar-expand justify-content-end fixed-top">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a [routerLink]="['/auth/register']" routerLinkActive="active" class="nav-link register">Register</a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/']" routerLinkActive="active" class="nav-link">
                            <fa-icon [icon]="faTimes"></fa-icon>
                        </a>
                    </li>
                </ul>
            </nav>

            <div class="row mx-2">
                <div class="col-12">
                    <h2><strong>Login</strong></h2>
                    <p>or&nbsp;<a [routerLink]="['/auth/register']" routerLinkActive="active">create an account</a></p>
                </div>
                <div class="col-12">
                    <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" autocomplete="off">
                        <div class="form-group position-relative">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" ngModel email required #email="ngModel">
                            <fa-icon *ngIf="!email.valid && email.touched" [icon]="faExclamationCircle" class="position-absolute" style="right:7px; top:7px; color:red"></fa-icon>
                        </div>
                        <div class="form-group position-relative">
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" ngModel required #password="ngModel">
                            <fa-icon *ngIf="!password.valid && password.touched" [icon]="faExclamationCircle" class="position-absolute" style="right:7px; top:7px; color:red;"></fa-icon>
                        </div>
                        <div class="from-group">
                            <input type="submit" value="Login" class="btn btn-block text-white" [disabled]="!loginForm.valid">
                        </div>
                        <div class="form-group">
                            <a [routerLink]="['/auth/forgot-password']" routerLinkActive="active">Forgot your password?</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>