<!-- <input
  #fuelCheckbox
  type="checkbox"
  (change)="onChange()">
  {{fuelType.fuelType}} -->


<label class="btn btn-secondary rounded-0" #label [ngClass]="{'active': toggle}">
  <input
    type="checkbox"
    #fuelCheckbox
    (change)="onChange()">
    {{fuelType.FuelType}}
</label>

<!-- <div class="row w-50 float-left">
    <div class="col-12">
        <div class="d-flex align-items-center mr-2 my-2" #label [ngClass]="{'active': toggle}">
            <input type="checkbox" #fuelCheckbox (change)="onChange()">&nbsp;
            <span style="font-size: 1.0rem">{{fuelType.FuelType}}</span>
        </div>
    </div>
</div> -->