<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" (click)="onSelectPriceRange()">
      Select Price
    </button>
    <div class="dropdown-menu" [ngClass]="{'show': isShow}">
        <a class="dropdown-item" *ngFor="let priceRange of priceRanges">
            <label>
          <input type="checkbox" name="itemList" (change)="onCheckboxChanged(priceRange,checkboxElement)" #checkboxElement>
          <span class="cb-text">&euro;{{priceRange.min}} - &euro;{{priceRange.max}}</span>
        </label>
        </a>
    </div>
</div>
