<div class="container-fluid" style="padding: 0;">
    <div class="accordion">
        <div class="card">
            <div class="card-header" (click)="onToggle()">
                <div class="container mb-0">
                    <!-- <button class="btn btn-header" type="button" (click)="onToggle()"> -->
                    <div class="content-header">
                        {{title}}
                    </div>
                    <!-- </button> -->
                </div>
            </div>

            <div class="collapse show" [ngClass]="{'show': isShow}">
                <div class="card-body">
                    <ng-content></ng-content>
                </div>
            </div>
        </div>