<a [routerLink]="['/car']">Back to list</a>
<h3>Name: {{car.Carname}}</h3>
<h3>Model: {{car.Model}}</h3>
<br>
<img [src]="calculateImagePath()" [alt]="car.Carname" style="height: 200px;">
<br>
<p>Brand: {{car.Brand.BrandName}}</p>
<p>GearBox: {{car.Gearbox.GearboxType}}</p>
<p>FuelType: {{car.Fuel.FuelType}}</p>
<p>Price: <span #leasePrice>{{car.LeasePrice}}</span></p>
<div class="row">
  <div class="col-md-2">
    Mileage:
  </div>
  <div class="col-md-4">
    <ng5-slider
      [(value)]="mileageValue"
      [options]="mileageOptions"
      (valueChange)="onSliderChange()"></ng5-slider>
  </div>
</div>
<div class="row">
  <div class="col-md-2">
    PaybackTime:
  </div>
  <div class="col-md-4">
    <ng5-slider
      [(value)]="paybackTimeValue"
      [options]="paybackTimeOptions"
      (valueChange)="onSliderChange()"></ng5-slider>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <app-steps-progress-bar [stepNo]="1"></app-steps-progress-bar>
    </div>
  </div>
</div>

