<!-- <app-custom-accordion [title]="'Select Brands'" [isShow]="true">
  <app-brand-list></app-brand-list>
</app-custom-accordion>
<app-custom-accordion [title]="'Select Fuel'" [isShow]="true">
  <app-fuel-list></app-fuel-list>
</app-custom-accordion>
<app-custom-accordion [title]="'Select Gearbox'" [isShow]="true">
  <app-gearbox-list></app-gearbox-list>
</app-custom-accordion>
<app-custom-accordion [title]="'Select Budget'" [isShow]="true">
  <app-price-range-list></app-price-range-list>
</app-custom-accordion> -->
<h4 class="mt-2">Brand</h4>
<app-brand-list></app-brand-list>
<br>
<h4 class="mt-2">Fuel</h4>
<app-fuel-list></app-fuel-list>
<br>
<h4 class="mt-2">Gearbox</h4>
<app-gearbox-list></app-gearbox-list>
<br>
<h4 class="mt-2">Price</h4>
<app-price-range-list></app-price-range-list>
<br>
<button class="btn btn-primary btn-lg rounded-0 my-5" (click)="onReset()" style="background-color: #0f4c75;">
  Reset
</button>
