<app-header></app-header>
<div class="container-fluid" style="background-color: whitesmoke; height: 85vh;">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-5 shadow-lg animated fadeInLeftBig" style="background-color: #0f4c75;">
                            <div class="card-body text-white text-center">
                                <h2 class="card-title">Brand</h2>
                                <div class="row">
                                    <div class="col-12">
                                        <app-brand-list class="text-center"></app-brand-list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-5 shadow-lg animated fadeInUpBig" style="background-color: #0f4c75;">
                            <div class="card-body text-white text-center">
                                <h2 class="card-title">Price</h2>
                                <div class="row">
                                    <div class="col-12">
                                        <app-price-range-list class="text-white"></app-price-range-list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <div class="card mt-5 shadow-lg animated fadeInDownBig" style="background-color: #0f4c75;">
                            <div class="card-body text-white text-center">
                                <h2 class="card-title">Gearbox</h2>
                                <div class="row">
                                    <div class="col-12">
                                        <app-gearbox-list class="text-center"></app-gearbox-list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow-lg animated fadeInRightBig" style="background-color: #0f4c75; margin-top: 33px;">
                            <div class="card-body text-white text-center">
                                <h2 class="card-title">Fuel</h2>
                                <div class="row">
                                    <div class="col-12">
                                        <app-fuel-list class="text-center"></app-fuel-list>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card shadow-lg animated fadeInUpBig hoverClass" style="background-color: #28a745; cursor: pointer; margin-top: 33px;">
                            <div class="card-body text-white text-center">
                                <div class="row">
                                    <div class="col-12">
                                        <input type="button" class="btn btn-block text-white" style="font-size: 1.6rem;" value="Submit" (click)="onSubmit()">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>